.highlight {
  padding: .5rem 1rem;
  //border: 1px solid _color(secondary);
  background-color: _color(tertiary);
  -webkit-box-shadow: 2px 2px 20px 3px rgba(110,247,24,1);
  -moz-box-shadow: 2px 2px 20px 3px rgba(110,247,24,1);
  box-shadow: 2px 2px 20px 3px rgba(110,247,24,1);
}
