.width-2 {
  width: 2rem;
}

.width-1-5 {
  width: 1.5rem;
}

.width-5 {
  width: 5rem;
}

.width-100, .full-width {
  width: 100%;
}

.max-width-8 {
  max-width: 8rem;
}

.min-width-8 {
  min-width: 8rem;
}

.max-width-10 {
  max-width: 10rem;
}

.max-width-12 {
  max-width: 12rem;
}

.max-width-20 {
  max-width: 20rem;
}

.min-width-20 {
  min-width: 20rem;
}

.max-height-10 {
  max-height: 12rem;
}

.max-height-12 {
  max-height: 12rem;
}

.max-height-15 {
  max-height: 15rem;
}
