fieldset {
  border: 0;
  padding: .01rem 0 0 0;
  margin: 0;
  min-width: 0;
  text-align: left;

  label {
    background-color: _color(bg-input);
    color: _color(body-text);
    border-radius: 1.5rem;
    font-family: _font(family-regular);
    font-size: _size(regular);
    padding: .5rem 1rem;
    flex-align: center;
    line-height: 1.5rem;
  }
}
