.ecosystem {
  margin-top: 1.5rem;
  a {
    fill: rgba(255,255,255,.65);
  }
}

.tooltip {
  position: absolute;
  visibility: hidden;
  border-radius: 1rem;
  padding: 1rem;
  word-break: break-word;
  background-color: rgba(29,33,39, .85);
  max-width: 20rem;
  font-size: .7rem;

  img {
    height: 3rem;
    width: auto;
  }

  a {
    color: white;
  }
}

.socks {

  circle {
    cursor: pointer;
  }

}
